# Dependencies
node_modules

# Build output
dist

# Environment variables (never commit these!)
.env.local
.env
.env.production.local

# OS
.DS_Store

# Logs
*.log

# Vercel
.vercel

# IDE
.vscode
.idea